body{
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #a000ff;
    margin-top: 10px;
    margin-right: 2cm;
    margin-bottom: 2cm;
    margin-left: 10px;
}
.t1{
    color: #00ffa0;
    font-size: 2.5cm;
    text-align: center;
    line-height: 0.2cm;
}
.t2{
    color: #fff;
    font-size: medium;
    text-align: center;
    line-height: 0.5cm;
}

.contenedor{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
}
.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #00ffa0;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0 5px #00000033;
    position: relative;
    top: 20px; left: -200px;
}
.botondoble{
    font-family: 'Fraunces', serif;
    color: white;
    cursor: pointer;
    margin: 0;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.4em;
    border: #03ce91;
    line-height: 20px;
    background-color: #03ce91;
    float: left;
    position: relative;
    top: 1.5cm; left: 27.3cm;
}

a:hover{
    font-size: 1.5em;
}

.botonsimple{
    font-family: 'Fraunces', serif;
    color: white;
    cursor: pointer;
    margin: 6px;
    padding: 2.8px;
    width: 45px;
    border-radius: 10px;
    font-size: 1.83em;
    border: none;
    line-height: 30px;
    background-color: #03ce91;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
    position: relative;
    top: 115px; left: -1.5px;
}
button:active{
    background-color: #006f54;
}
button:focus{
    outline: none;
}
.mostrar{
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0 0 0 10px #00000033;
}

#v_actual{
    font-size: 1.5em;
}

#v_anterior{
    font-size: 2em;
}

