* {
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
}

body{ /*cuenta como tag (?*/
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #a000ff;
    margin: 1cm;
}

footer{ /*pie de pagina*/
    color: white;
    text-align: center;
    margin: 2cm;
}

/*titulos*/
.t1{
    text-align: center; /*alineacion de texto*/
    line-height: 5cm; /*distance entre líneas de texto*/
    margin-top: 50px;
    font-size: 150px; /*tamaño de fuente*/
    font-weight: 900;
    color: transparent;
    background-image: url(https://media.giphy.com/media/UR6ZXKs8bKhuU/giphy.gif);
    background-position: center;
    -webkit-background-clip: text;
}

.t3{
    font-size: 2cm;
    font-weight: 800;
    text-align: center;
    line-height: 2cm;
    color: transparent;
    background-image: url(https://media.giphy.com/media/UR6ZXKs8bKhuU/giphy.gif);
    background-position: center;
    -webkit-background-clip: text;
}

.t4{
    font-size: 1.5cm;
    text-align: left;
    line-height: 2cm;
    color: transparent;
    background-image: url(https://media.giphy.com/media/UR6ZXKs8bKhuU/giphy.gif);
    background-position: center;
    -webkit-background-clip: text;
}

/*barra de menu*/
header{
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
}

.menu{
    display: flex; /*elemento flexible que puede alinarse*/
    justify-content: center; /*ubicacion al centro del eje x*/
}

.menu li>a{
    background-color: #00ffa0;
    color: white;
    padding: 10px; /*borde interno*/
    display: block; /*comportamiento de bloque*/
    text-decoration: none; /*saca subrayado*/
    min-width: 150px; /*ancho minimo*/
    border-radius: 32px; /*redondeo de borde*/
    text-align:center;
}

.menu>li>ul{
    display: none; /*ocultar y mostrar elementos*/
}

.menu>li:hover>ul {
    display: block; /*me deja mostrar elementos dentro del menu principal*/
}

.menu>li:hover>ul>li>ul{
    display: flex; /*flexible, me deja tener la pestaña de email mas grande*/
}

/*estandar*/
#menuestandar li>a{
    background-color: #00ffa0;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 150px;
    border-radius: 32px;
}

#menuestandar>li{
    float: left; /*flotante que alinea elemento a la izquierda*/
    text-align:center; /*alinea el texto*/
}

#menuestandar>li>ul{
    display: none;
}

#menuestandar>li:hover>ul {
    display:block;
}

.contenedorestandar{ /*borde exterior verde de la calculadora*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadoraestandar{ /*contenedor verde*/
    display: grid;
    grid-template-columns: repeat(4, 75px); /*define linea y tamaño de columnas*/
    grid-template-rows: 160px repeat(5, 75px);
    background-image: url(https://media.giphy.com/media/H7F0zSaC9ZHZC/giphy.gif);
    padding: 20px;
    border-radius: 32px;
    box-shadow: 15px 10px 0 5px #00000033;
    position: center;
}

.mostrarestandar{ /*cuadro negro*/
    grid-area: 1/-1/1/1; /*tamaño y la ubicación de lo negro*/
    padding: 16px;
    display: flex;
    margin: 10px 10px 10px;
    flex-direction: column; /*alineacion de los elementos*/
    background-color: #363636;
    border-radius: 32px;
    text-align: right;
    box-shadow: 0 0 0 10px #00000033;
}

#resultado{
    font-size: 40px;
    color: #CCCCCC;
}

.img2{ /*ubicacion de casio*/
    position: relative;
    top: -5.4cm; left: 118px;
}

/*cientifica*/
#menucientifica li>a{
    background-color: #00ffa0;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 150px;
    border-radius: 32px;
}

#menucientifica>li{
    float: left;
    text-align:center;
}

#menucientifica>li>ul{
    display: none;
}

#menucientifica>li:hover>ul {
    display:block;
}

.contenedorcientifica{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadoracientifica{
    display: grid;
    grid-template-columns: repeat(5, 70px);
    grid-template-rows: 160px repeat(8, 65px);
    background-image: url(https://media.giphy.com/media/H7F0zSaC9ZHZC/giphy.gif);
    padding: 25px;
    border-radius: 32px;
    box-shadow: 15px 10px 0 5px #00000033;
}

.img1{ /*ubicacion del casio*/
    position: relative;
    top: -5.45cm; left: 138px;
}

.mostrarcientifica{
    grid-area: 1/-1/1/1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 10px;
    flex-direction: column;
    align-items: center;
    background-color: #363636;
    border-radius: 32px;
    text-align: center;
    box-shadow: 0 0 0 10px #00000033;
}

/*completa*/
.contenedorcompleta{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadoracompleta{
    display: grid;
    grid-template-columns: repeat(9, 59px);
    grid-template-rows: 160px repeat(9, 57px);
    background-image: url(https://media.giphy.com/media/H7F0zSaC9ZHZC/giphy.gif);
    padding: 25px;
    border-radius: 32px;
    box-shadow: 15px 10px 0 5px #00000033;
    position: center;
}

.img3{
    position: relative;
    top: -5.45cm; left: 225px;
}

/*botones*/
a:hover{ /*agranda cuando paso el cursor*/
    font-size: 1.5em;
}

button.numero{
    font-family: 'Fraunces', serif;
    color: black;
    cursor: pointer; /*manito*/
    margin: 6px;
    padding: 0.01cm;
    width: 45px;
    border-radius: 10px;
    font-size: 1.83em;
    border: none;
    line-height: 30px;
    background-color: paleturquoise;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
    position: relative;
    top: 125px; left: -1.5px;
}

button.enviar{
    font-family: 'Fraunces', serif;
    color: white;
    cursor: pointer;
    margin: 6px;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 1.83em;
    border: none;
    line-height: 30px;
    background-color: #03ce91;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
    position: relative;
    left:50%;
}


button.operador{
    font-family: 'Fraunces', serif;
    color: white;
    cursor: pointer;
    margin: 0;
    padding: 2px;
    width: 1.5cm;
    border-radius: 10px;
    font-size: 1.65em;
    border: none;
    line-height: 30px;
    background-color: #ffa07a;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
    position: relative;
    top: 125px; left: -1.5px;
}

button:active.enviar{
    font-size: 2em;
    background-color: #006f54;
}

button:active.numero{
    background-color: #006f54;
}

button:active.operador{
    background-color: #ff4500;
}

/*formulario registrarse*/
form { /*recuadro verde*/
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    background-color: #00ffa0;
    border-radius: 1em;
}

ul { /*lista*/
    list-style: none;
    padding: 2px;
    margin: 2px;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
}

li{ /*espacio entre linea*/
    margin-top: 0.5cm;
}

label {
    display: inline-block; /*funciona como bloque en linea*/
    width: 145px;
    text-align: right;
}


