/*--hoja de estilos--*/
/*--aplica a toda la pagina*/
* {
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    cursor: pointer;
}

body{ /*cuenta como tag (?*/

    font-family: 'Merriweather Sans', sans-serif;
    background-color: #a000ff;
}

footer{ /*pie de pagina*/
    color: white;
    text-align: center;
    margin: 2cm;
}

/*--titulos--*/
.t1{ /* "calculadora" */
    text-align: center; /*alineacion de texto*/
    line-height: 5cm; /*distance entre líneas de texto*/
    margin-top: 50px;
    font-size: 150px; /*tamaño de fuente*/
    font-weight: 900;
    color: transparent;
    background-image: url(https://media.giphy.com/media/UR6ZXKs8bKhuU/giphy.gif);
    background-position: center;
    -webkit-background-clip: text;
}

.t2{ /*--modo--*/
    font-size: 2cm;
    font-weight: 800;
    text-align: center;
    line-height: 2cm;
    color: transparent;
    background-image: url(https://media.giphy.com/media/UR6ZXKs8bKhuU/giphy.gif);
    background-position: center;
    -webkit-background-clip: text;
}

.t3{ /*--modo estandar/cientifica--*/
    font-size: 1.5cm;
    text-align: left;
    line-height: 2cm;
    color: transparent;
    background-image: url(https://media.giphy.com/media/UR6ZXKs8bKhuU/giphy.gif);
    background-position: center;
    -webkit-background-clip: text;
}

/*--barra de menu principal--*/
.menu{
    display: flex; /*alinea los elementos uno a la izquierda del otro*/
    justify-content: center; /*ubicacion al centro del eje x*/
}

.menu li>a{
    background-color: #00ffa0;
    color: white;
    padding: 10px; /*borde interno*/
    display: block; /*comportamiento de bloque*/
    text-decoration: none; /*saca subrayado*/
    min-width: 150px; /*ancho minimo*/
    border-radius: 32px; /*redondeo de borde*/
    text-align:center;
}

.menu>li>ul{
    display: none; /*ocultar y mostrar elementos*/
}

.menu>li:hover>ul {
    display: block; /*me deja mostrar elementos dentro del menu principal*/
}

.menu>li:hover>ul>li>ul{
    display: flex; /*flexible, me deja tener la pestaña de email mas grande*/
}

/*-- submenu para la navegacion entre paginas--*/
#submenu{
    margin-bottom: 3cm; /*margen debajo del menu*/
}

#submenu li>a{
    background-color: #00ffa0;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 150px;
    border-radius: 32px;
    float: left; /*pone los elementos alineados a la izquierda del anterior*/
    text-align:center; /*alinea el texto*/
}

/*--calculadora (cosas en comun)*/
.mostrarcalculadora{ /*cuadro negro y organizacion de elementos*/
    grid-area: 1/-1/1/1; /*tamaño y la ubicación de lo negro*/
    padding: 16px;
    display: flex;
    margin: 10px 10px 10px;
    flex-direction: column; /*alineacion de los elementos*/
    background-color: #363636;
    border-radius: 32px;
    text-align: center;
    box-shadow: 0 0 0 10px #00000033;
}

.contenedorcalculadora{ /*borde exterior de la calculadora*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadoraestandar{ /*contenedor multicolor de --estandar--, tamaños de objetos y demas*/
    display: grid;
    grid-template-columns: repeat(4, 75px); /*define linea y tamaño de columnas*/
    grid-template-rows: 160px repeat(5, 75px);
    background-image: url(https://media.giphy.com/media/H7F0zSaC9ZHZC/giphy.gif);
    padding: 20px;
    border-radius: 32px;
    box-shadow: 15px 10px 0 5px #00000033;
    position: center;
}

.calculadoracientifica{ /*contenedor multicolor de --cientifica--, tamaños de objetos y demas*/
    display: grid;
    grid-template-columns: repeat(9, 59px);
    grid-template-rows: 160px repeat(9, 57px);
    background-image: url(https://media.giphy.com/media/H7F0zSaC9ZHZC/giphy.gif);
    padding: 25px;
    border-radius: 32px;
    box-shadow: 15px 10px 0 5px #00000033;
    position: center;
}

#resultado{ /*numeros que aparecen en el recuadro negro*/
    font-size: 40px;
    color: #CCCCCC;
}

.img1{ /*ubicacion de casio en estandar*/
    position: relative;
    top: -5.4cm; left: 118px;
}

.img2{ /*ubicacion de casio en cientifica*/
    position: relative;
    top: -5.45cm; left: 225px;
}

/*--botones--*/
a:hover{ /*agranda cuando paso el cursor*/
    font-size: 1.5em;
}

button{
    font-family: 'Fraunces', serif;
    cursor: pointer; /*manito*/
    border-radius: 10px;
    font-size: 1.83em;
    margin: 6px;
    border: none;
    line-height: 30px;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
    position: relative;
}

.numero{
    color: black;
    padding: 0.01cm;
    width: 45px;
    background-color: paleturquoise;
    top: 125px; left: -1.5px;
}

.enviar {
    color: white;
    padding: 8px 10px;
    background-color: #03ce91;
    left:50%;
}


.operador{
    color: white;
    margin: 0;
    padding: 2px;
    width: 1.5cm;
    font-size: 1.65em;
    background-color: #ffa07a;
    top: 125px; left: -1.5px;
}

.punto{
    color: #ffa07a;
    margin: 0;
    padding: 2px;
    width: 1.5cm;
    font-size: 1.65em;
    background-color: #ffa07a;
    top: 125px; left: -1.5px;
}

#igual{
    width: 3cm;
}

#sacartodo{
    width: 4.7cm;
}

button:active.enviar{
    font-size: 2em;
    background-color: #006f54;
}

button:active.numero{
    background-color: #006f54;
}

button:active.operador{
    background-color: #ff4500;
}

button:active.borrar{
    background-color: #ff4500;
}

button:active.igual{
    background-color: #ff4500;
}

/*formulario registrarse*/
form{ /*recuadro verde*/
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    background-color: #00ffa0;
    border-radius: 1em;
}

ul{ /*lista*/
    list-style: none;
    padding: 2px;
    margin: 2px;
}

li{ /*espacio entre linea*/
    margin-top: 0.5cm;
}


canvas{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("imagenes/fondo canvas.png");
    border: 2px solid black;

}