body{
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #a000ff;
    margin: 1cm;
}

/*titulos*/
.t1{
    color: #00ffa0;
    font-size: 2.5cm;
    text-align: center;
    line-height: 5cm;
}

.t3{
    color: #00ffa0;
    font-size: 1.5cm;
    text-align: center;
    line-height: 2cm;
}

.t4{
    color: #00ffa0;
    font-size: 1.5cm;
    text-align: left;
    line-height: 2cm;
}

/*barra de menu*/
header{
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0 auto;
}

ul{
    list-style: none;
}

.menu{
    display: flex;
    justify-content: center;
}

.menu li>a{
    background-color: #00ffa0;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 150px;
    border-radius: 32px;
    text-align:center;
}

.menu li>a:hover{
    color: white;
    background-color: #00ffa0;
}

.menu>li{
    float: left;
    text-align:center;
}

.menu>li>ul{
    display: none;
}

.menu>li:hover>ul {
    display: block;
}

.menu>li:hover>ul>li>ul{
    display: flex;
}

/*estandar*/
#menuestandar li>a{
    background-color: #00ffa0;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 150px;
    border-radius: 32px;
}

#menuestandar li>a:hover{
    color: white;
    background-color: #00ffa0;
}

#menuestandar>li{
    float: left;
    text-align:center;
}

#menuestandar>li>ul{
    display: none;
}

#menuestandar>li:hover>ul {
    display:block;
}

.contenedorestandar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadoraestandar{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #00ffa0;
    padding: 20px;
    border-radius: 32px;
    box-shadow: 15px 10px 0 5px #00000033;
    position: center;
}

.mostrarestandar{
    grid-area: 1/-1/1/1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 10px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: initial;
    box-shadow: 0 0 0 10px #00000033;
}
.img2{
    position: relative;
    top: -5.4cm; left: 118px;
}
/*cientifica*/
#menucientifica li>a{
    background-color: #00ffa0;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 150px;
    border-radius: 32px;
}

#menucientifica li>a:hover{
    color: white;
    background-color: #00ffa0;
}

#menucientifica>li{
    float: left;
    text-align:center;
}

#menucientifica>li>ul{
    display: none;
}

#menucientifica>li:hover>ul {
    display:block;
}

.contenedorcientifica{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.calculadoracientifica{
    display: grid;
    grid-template-columns: repeat(5, 70px);
    grid-template-rows: 160px repeat(8, 65px);
    background-color: #00ffa0;
    padding: 25px;
    border-radius: 32px;
    box-shadow: 15px 10px 0 5px #00000033;
}
.img1{
    position: relative;
    top: -5.45cm; left: 138px;
}

.centrado {
    text-align: center;
}

.mostrarcientifica{
    grid-area: 1/-1/1/1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 10px;
    flex-direction: column;
    align-items: center;
    background-color: #363636;
    border-radius: 32px;
    text-align: center;
    justify-content: space-between;
    word-break: initial;
    box-shadow: 0 0 0 10px #00000033;
}

/*completa*/
.contenedorcompleta{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadoracompleta{
    display: grid;
    grid-template-columns: repeat(9, 59px);
    grid-template-rows: 160px repeat(9, 57px);
    background-color: #00ffa0;
    padding: 25px;
    border-radius: 32px;
    box-shadow: 15px 10px 0 5px #00000033;
    position: center;
}
.img3{
    position: relative;
    top: -5.45cm; left: 225px;
}

.centrado {
    text-align: center;
}

/*botones*/
a:hover{
    font-size: 1.5em;
}

button.numero{
    font-family: 'Fraunces', serif;
    color: white;
    cursor: pointer;
    margin: 6px;
    padding: 0.01cm;
    width: 45px;
    border-radius: 10px;
    font-size: 1.83em;
    border: none;
    line-height: 30px;
    background-color: #03ce91;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
    position: relative;
    top: 125px; left: -1.5px;
}

button.enviar{
    font-family: 'Fraunces', serif;
    color: white;
    cursor: pointer;
    margin: 6px;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 1.83em;
    border: none;
    line-height: 30px;
    background-color: #03ce91;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
    position: relative;
    left:50%;
}


button.operador{
    font-family: 'Fraunces', serif;
    color: white;
    cursor: pointer;
    margin: 0;
    padding: 2px;
    width: 1.5cm;
    border-radius: 10px;
    font-size: 1.65em;
    border: none;
    line-height: 30px;
    background-color: #ffa07a;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
    position: relative;
    top: 125px; left: -1.5px;
}

button:active.enviar{
    font-size: 2em;
    background-color: #006f54;
}

button:active.numero{
    background-color: #006f54;
}

button:active.operador{
    background-color: #ff4500;
}

button:focus{
    outline: none;
}

#v_actual{
    font-size: 1.5em;
}

#v_anterior{
    font-size: 2em;
}

/*formulario*/
form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    background-color: #00ffa0;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 2px;
    margin: 2px;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;

}

form li + li {
    margin-top: 0.5cm;
}

label {
    display: inline-block;
    width: 145px;
    text-align: right;
}


